<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconPride</string>
			</dict>
			<key>Ukraine</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconUkraine</string>
			</dict>
			<key>Xmas</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconHoliday</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Pride</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconPride</string>
			</dict>
			<key>Ukraine</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconUkraine</string>
			</dict>
			<key>Xmas</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconHoliday</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
