<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Custom01</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom01</string>
			</dict>
			<key>Custom02</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom02</string>
			</dict>
			<key>Custom03</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom03</string>
			</dict>
			<key>Custom04</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom04</string>
			</dict>
			<key>Custom05</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom05</string>
			</dict>
			<key>Custom06</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom06</string>
			</dict>
			<key>Custom07</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom07</string>
			</dict>
			<key>Custom08</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom08</string>
			</dict>
			<key>Ukraine</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconUkraine</string>
			</dict>
			<key>Xmas</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconXmas</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Custom01</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom01</string>
			</dict>
			<key>Custom02</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom02</string>
			</dict>
			<key>Custom03</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom03</string>
			</dict>
			<key>Custom04</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom04</string>
			</dict>
			<key>Custom05</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom05</string>
			</dict>
			<key>Custom06</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom06</string>
			</dict>
			<key>Custom07</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom07</string>
			</dict>
			<key>Custom08</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconCustom08</string>
			</dict>
			<key>Ukraine</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconUkraine</string>
			</dict>
			<key>Xmas</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>CounterAppIconXmas</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
